.index {
    background-image: url("/static/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.not_found {
    background-image: url("/static/404.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}